<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenidos a Coffee Shop</title>
  </head>
  <body>
    <h1>Bienvenidos a Coffee Shop</h1>
    <p>¡Descubre los productos más frescos y deliciosos que tenemos para ti!</p>

    <h2>Productos Destacados</h2>
    <ul>
      <li><a href="#">Producto 1</a></li>
      <li><a href="#">Producto 2</a></li>
      <li><a href="#">Producto 3</a></li>
    </ul>

    <a href="{% url 'list_product' %}">Ver todos los productos</a>
  </body>
</html>
